{% extends 'base.html.twig' %}

{% block body %}

    <div class="row no-gutters">
        <div class="col-lg-12 pr-lg-2">
            <div class="card mb-3">
                <div class="card-header">
                    <ul class="nav nav-tabs card-header-tabs" id="myTab" role="tablist">
                        {% for week,dev in tasks %}
                            <li class="nav-item">
                                <a class="nav-link" id="{{ week }}-tab" data-toggle="tab" href="#tab-{{ week }}" role="tab" aria-controls="{{ week }}" aria-selected="true">
                                    {{ week }}. Hafta
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="card-body bg-light">
                    <div class="tab-content" id="myTabContent">
                        {% for week,dev in tasks %}
                            <div class="tab-pane fade {% if loop.first %} show active {% endif %} p-3" id="tab-{{ week }}" role="tabpanel" aria-labelledby="{{ week }}-tab">
                                {% for name,task in dev %}
                                    <div class="row no-gutters">
                                        <div class="col-lg-12 pr-lg-2">
                                            <div class="card mb-3">
                                                <div class="card-header">
                                                    <h5 class="mb-0">{{ name }}</h5>
                                                </div>
                                                <div class="card-body bg-light">
                                                    <div class="row">
                                                        <div class="col-12">
                                                            <div class="table-responsive">
                                                                <table class="table">
                                                                    <thead class="thead-dark">
                                                                    <tr>
                                                                        <th scope="col">id</th>
                                                                        <th scope="col">Süre</th>
                                                                        <th scope="col">Zorluk</th>
                                                                    </tr>
                                                                    </thead>
                                                                    <tbody>
                                                                    {% for record in task %}
                                                                        <tr>
                                                                            <td>{{ record.taskId }}</td>
                                                                            <td>{{ record.time }}</td>
                                                                            <td>{{ record.level }}</td>
                                                                        </tr>
                                                                    {% endfor %}
                                                                    </tbody>
                                                                </table>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
